<section class="blog-posts-list">
  <header class="edna-topic-head"></header>
    <div class="edna-topic-head__label">
        <span class="edna-topic-label">Blog posts</span>
    </div>
  </header>
  

  <div class="blog-posts-list__list">
    <ul class="list">
      {% for post in site.posts %}
        <li class="list__item">

          <h2 class="list__title"><a class="list__link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h2>
          <p class="list__meta">By {{ site.data.authors[post.author].name }} — {{ post.date | date: "%B %-d, %Y" }}</p>
          
        </li>
      {% endfor %}
    </ul>
  </div>
</section>
