<head>
  <!-- Base stuff -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <!-- Styles -->
  <link rel="stylesheet" href="{{ '/assets/css/main.css' | prepend: site.baseurl }}">

  <!-- Canonical + RSS -->
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />

  <!-- Open Graph tags -->
  <meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}" />
  <meta property="og:url" content="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}" />
  <meta property="og:image" content="{{ site.logo_image | prepend: site.baseurl | prepend: site.url }}" />

  <!-- Twitter cards -->
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@edenspiekermann" />
  <meta name="twitter:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}" />
  <meta name="twitter:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}" />
  <meta name="twitter:image" content="{{ '/assets/images/espi-dev-blog-logo--twitter-card.jpg' | prepend: site.baseurl | prepend: site.url }}" />

  {% include webfonts.html %}

</head>
