.author {
  padding: $spacing-unit 0;
  border-top: 1px solid #ddd;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #565656;
  margin-top: $spacing-unit;
}

.author__image-wrapper {
  max-width: 120px;
  margin-right: $spacing-unit;
  flex: 1 0 auto;
  float: left;

  @media only screen and (max-width: 475px) {
    max-width: 100px;
  }

  @media only screen and (max-width: 350px) {
    max-width: 75px;
  }
}

.author__image {
  border-radius: 50%;
  margin-bottom: 0
}

.author__description {
  margin-top: 0;
  font-size: 0.9em;
  float: left;
}
