.content-body {
  width: 1100px;
}

.copy--chapter {
  max-width: 100%;
  @media screen and (min-width: 801px) {
    width: 65%;
    min-width: 610px;
  }
}

.content-body__meta {
  width: unset;
  max-width: 120px;
  right: 90px;
  left: unset;
}

.copy--chapter {
  & h1, & h2, & h3 {
    margin-left: 0;
  }

  h3 {
    @media screen and (min-width: 801px) {
      font-size: 2em;
    }
    &:first-of-type {
      margin-top: 4.5rem;
      @media screen and (min-width: 801px) {
        margin-top: 7rem;
      }
    }
  }
}

code {
  @media screen and (max-width: 600px) {
    white-space: normal;
  }
}

#further-reading {
  margin-top: 3em;
}

td.blob-code {
  @media screen and (max-width: 600px) {
    display: initial;
  }
}
