.edna-page-header__image-wrapper {
  margin-top: 0;
  margin-bottom: 3rem;
}

.edna-page-header__image-wrapper, .edna-page-header__text--medium {
  width: 1100px;
}

.edna-page-header__title {
  font-weight: 400;
  line-height: 1.2em;
  margin-bottom: 0;
  max-width: 13em;
}
