/**
 * THIS IS AN EXTENSION MODIFIER TO COMPONENT FROM MAIN SITE
 */
.homepage-head--small {
  margin-top: 1rem;
  margin-bottom: 1rem;

  @media (min-width: 1025px) {
    width: 810px;

    .homepage-head__text {
      font-size: 2.5em;
    }
  }
}
