/**
 * Basic styling
 *
 * Please note that most base styles are pulled directly from our parent site
 * This is for overrides or things specific to the blog.
 */


img {
  margin-bottom: ($spacing-unit * 1.5);
}



/**
 * An extension modifier to component from main site
 */
.homepage-head--small {
  margin-top: 1rem;
  margin-bottom: 1rem;

  @media (min-width: 1025px) {
    width: 810px;

    .homepage-head__text {
      font-size: 2.5em;
    }
  }
}


/**
 * Consider moving to main site styles
 */
.footer__imprint-and-stuff:first-child {
  border-top: 0;
}
