.home-title {
  margin-top: 0;
}

.home-title__selector {
  color: $brand-color;
}

.home-title__property {
  color: #111;
}

.home-title__value {
  color: $alternate-brand-color;
}

.home-title__punctuation {
  color: #ccc;
}
