$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;
$blue-espi:        #00b4f1;

$grey:             #828282;
$grey-light:       lighten($grey, 40%);
$grey-dark:        darken($grey, 25%);

$on-palm:          600px;
$on-laptop:        800px;
