$spacing-unit: 30px;

/**
 * Color values at https://www.edenspiekermann.com/styleguide/index.html#colors
 */
$brand-color: #ff4350;
$alternate-brand-color: #00b4f1;
$grey: #999;
$grey-light: #e7f0f0;
$grey-dark: #6f7476;
