/**
 * THIS IS AN EXTENSION OF THE MENU COMPONENT FROM MAIN SITE
 */

.menu__logo-wrapper {
  float: left;
}

.menu__logo {
  width: 50px;
  margin: 0;
}

.menu__company-logo-wrapper {
  float: right;
}
