pre,
:not(pre) > code {
  font-size: 0.85em;
  background-color: #f5f5f5;
  border: 1px solid #ddd;
}

:not(pre) > code {
  padding: 1px 5px;
  white-space: nowrap;
}

pre {
  padding: $spacing-unit;
  overflow-x: scroll;
  margin: ($spacing-unit * 1.5) 0;
}

pre, code {
  font-family: 'Fira', monospace;
}
