pre,
:not(pre) > code {
  font-size: 0.9em;
  background-color: #eef;
  border: 1px solid rgba(black, 0.1);
}

:not(pre) > code {
  padding: 1px 5px;
  white-space: nowrap;
}

pre {
  padding: ($spacing-unit / 2) $spacing-unit;
  overflow-x: scroll;
}
