table {
  width: 100%;
}

td, th {
  padding: ($spacing-unit / 2);
}

tr {
  border-bottom: 1px solid rgba(black, 0.1);
}

thead {
  text-align: left;
  font-weight: bold;
}

@media only screen and (max-width: 600px) {
  table, thead, tbody, tr, td, th {
    display: block;
  }

  thead {
    position: absolute;
    opacity: 0;
    clip: rect(0 0 0 0);
  }

  tr {
    padding: ($spacing-unit / 2) 0;
  }

  td[data-label] {
    padding: 0;
  }

  td[data-label]::before {
    content: attr(data-label) ': ';
    color: #999;
  }
}
