---
layout: default
---

<header class="header-simple header-simple--medium">
    <h1 class="header-simple__title" itemprop="name">{{ page.title }}</h1>
</header>

<div class="content-body">

  <div class="content-body__meta">
        
    <div class="content-meta">
      <time itemprop="datePublished" class="content-meta__date" datetime="{{ page.date | date: "%Y-%m-%d, " }}">{{ page.date | date: "%B %-d, %Y" }}</time>

    {% if page.author %}
        <div class="content-meta__author" itemprop="author">
          By {{ site.data.authors[page.author].name }}
        </div>
      </div>
    {% endif %}
  </div>

  <div class="copy copy--chapter">
    {{ content }}
  </div>

  {% include author.html author=page.author %}

</div>
