---
layout: default
---

<header class="edna-page-header">
  {% if page.mainImage %}
  <div class="edna-page-header__image-wrapper">
    <img src="{{ page.mainImage }}" alt="{{ page.mainImageAlt }}" class="edna-page-header__image">
  </div>
  {% endif %}
  <div class="edna-page-header__text edna-page-header__text--medium">
    <h1 class="edna-page-header__title" itemprop="name">
      {{ page.title }}
    </h1>
  </div>
</header>


<div class="content-body">
  <div class="content-body__meta">
        
    <div class="content-meta">
      <time itemprop="datePublished" class="content-meta__date" datetime="{{ page.date | date: "%Y-%m-%d, " }}">{{ page.date | date: "%B %-d, %Y" }}</time>

      {% if page.author %}
        <div class="content-meta__author" itemprop="author">
          By {{ site.data.authors[page.author].name }}
        </div>
      {% endif %}
    </div>
  </div>

  <div class="copy copy--chapter">
    {{ content }}
  </div>

  {% include author.html author=page.author %}

</div>
