.header {
  position: relative;
  margin-bottom: ($spacing-unit * 2);
}

.header > .container {
  border-bottom: 1px solid silver;
}

.header__logo {
  width: 80px;
}

.header__title {
  margin-bottom: 0;
  float: left;
  padding: ($spacing-unit / 2) 0;
}
