.header {
  position: relative;
  margin-bottom: $spacing-unit;
  background-image: url('../assets/images/espi-dev-blog-header.jpg');
  background-size: cover;
  padding: 1em 0;
}

.header__logo {
  width: 80px;
}

.header__title {
  margin-bottom: 0;
  float: left;
  padding: ($spacing-unit / 2) 0;
}
