html {
  box-sizing: border-box;
}

*, ::after, ::before {
  box-sizing: inherit;
}

/**
 * Basic styling
 */
body {
  font-family: 'ESPI Pro', 'ESPI Slab', 'Arial', sans-serif;
  font-size: 150%;
  line-height: 1.5;
  font-weight: 300;
  color: #222;
  background-color: #fdfdfd;
  -webkit-text-size-adjust: 100%;
}

/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
table {
  margin-bottom: ($spacing-unit / 2);
}

img {
  display: block;
  height: auto;
  max-width: 100%;
  margin-bottom: ($spacing-unit * 1.5);
}

ul:not([class]), ol:not([class]) {
  padding-left: 0;
}

li:not([class]) {
  list-style-position: inside;
  text-indent: -1em;
  padding-left: 1em;
}
