@font-face {
  font-family: 'ESPI Pro';
  src: url('../assets/fonts/espipro-bold-webfont.woff?#iefix') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'ESPI Pro';
  src: url('../assets/fonts/espipro-light-webfont.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'ESPI Pro';
  src: url('../assets/fonts/espipro-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ESPI Slab';
  src: url('../assets/fonts/espislabpro-black-webfont.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'ESPI Slab';
  src: url('../assets/fonts/espislabpro-bold-webfont.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'ESPI Slab';
  src: url('../assets/fonts/espislabpro-medium-webfont.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'ESPI Slab';
  src: url('../assets/fonts/espislabpro-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
